Research Conference/.vs/ResearchConference/v15/.suo
Research Conference/.vs/ResearchConference/v15/Server/sqlite3/storage.ide
Research Conference/.vs/ResearchConference/v15/Server/sqlite3/storage.ide-shm
Research Conference/.vs/ResearchConference/v15/Server/sqlite3/storage.ide-wal
Research Conference/ResearchConference/bin/ResearchConference.dll
Research Conference/ResearchConference/bin/ResearchConference.pdb
Research Conference/ResearchConference/obj/Debug/ResearchConference.dll
Research Conference/ResearchConference/obj/Debug/ResearchConference.pdb
